@import "bootstrap/dist/css/bootstrap.min.css";

.playing-card{
    height: 35dvh;
    aspect-ratio: .71;
    max-width: 25dvh;
    background-color: white;
    border-radius: 7%;
    display: flex;
    justify-content: center;
}

.playing-card:hover {
    background-color: turquoise;
}

.playing-card img {
    rotate: 90deg;
    width: 31dvh; /* apparent HEIGHT when image is rotated 90deg */
    object-fit: contain;
}

.bottom-suit {
    transform: rotate(180deg);
}

.value{
    font-size: 3rem;
}

ul {
    text-align: center;
}
