@import "bootstrap/dist/css/bootstrap.min.css";

h1 {
    font-weight: bold;
}

h2 {
    color: white;
    margin: 1rem 5rem;
    font-size: 1rem;
    text-align: center;
}

h2 strong {
    text-transform: uppercase;
    font-weight: normal;
}

p {
    color: white;
    margin: 2rem 5rem;
}

.playing-card{
    height: 35dvh;
    aspect-ratio: .71;
    max-width: 25dvh;
    background-color: white;
    border-radius: 7%;
    display: flex;
    justify-content: center;
}

.playing-card:hover {
    background-color: aqua;
}

.playing-card img {
    rotate: 90deg;
    width: 31dvh; /* apparent HEIGHT when image is rotated 90deg */
    object-fit: contain;
}

.bottom-suit {
    transform: rotate(180deg);
}

.value{
    font-size: 3rem;
}

ul {
    text-align: center;
}

ul li {
    background-color: white;
    border-radius: 10% 10% 0 0;

}

ul li:hover {
    background-color: aqua;
}
