@import "bootstrap/dist/css/bootstrap.min.css";

.playing-card{
    height: 60dvh;
    aspect-ratio: .66;
    background-color: white;
}

.bottom-suit {
    transform: rotate(180deg);
}

.value{
    font-size: 5rem;
}
